extends base

block vars
  - var title = 'Home'

block body
  h1 Nawa Login
  p.
    Welcome to the Nawa Login home page.  Please
    <a href="/register">register</a> or <a href="/login">login</a> to continue!
